<div class="homepage">
  <h1>Bitnite Blog</h1>
  <% if @grouped_blogposts.empty? %>
    <p>Nenhum post encontrado.</p>
  <% else %>
    <% @grouped_blogposts.sort.reverse.to_h.each do |year, months| %>
      <% months.each do |month_name, posts| %>
        <h2><%= year %> - <%= month_name.capitalize %></h2>
        <ul>
          <% posts.each do |post| %>
            <li>
              <%= link_to post.title, blog_post_path(post) %>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  <% end %>
</div>
