<nav class="navbar">
  <div class="navbar-container">
    <%= link_to "Bitnite", root_path, class: "navbar-brand" %>

    <ul class="navbar-links">
      <li><%= link_to "Sobre", controller: "static", action: "show", page: "about" %></li>
      <li><%= link_to "GitHub", "https://github.com/Giordano26", target: "_blank", rel: "noopener noreferrer" %></li>
    </ul>
  </div>
</nav>
