/*
 *= require_self
 *= require homepage
 *= require navbar
 *= require blog_posts
 *= require about
 *= require_tree .
 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.special-text {
  font-weight: 500;
}
